html{
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
}
body {
margin: 0;
box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #292929;
    &:hover {
        border-bottom: 2px solid;
    }
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 64px 120px;
    height: 100vh;
    background-image: url(img/back1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.menu-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 54px;
}
.link-wrap {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    gap: 32px;
    font-size: 22px;
    font-weight: 700;
}
.burger-menu {
    background-color: #E8EFF9;
    padding: 64px 120px;
}
.burger-menu {
    height: 100vh;
}