body {
margin: 0;
box-sizing: border-box;
}
a {
    text-decoration: none;
    &:hover {
        border-bottom: 2px solid;
    }
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 64px 120px;
    height: 100vh;
    background-image: url(img/back1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.menu-wrap {
    display: flex;
    justify-content: space-between;
}
.link-wrap {
    display: flex;
    flex-direction: column;
}
.burger-menu {
    background-color: #E8EFF9;
    padding: 64px 120px;
}